<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19 tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <!-- <link rel = "stylesheet" type = "text/css" href = "myStyle.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body align="center">

    <div class="container">
        <h1>Covid-19 tracker location wise</h1>

        <div class="row" align="center" style="width: 100%;">
            <div class="col s12 m8 offset-m2">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <h4>Total number of reported cases</h4>
                        <span class="card-title" th:text="${totalReportedCases}"></span>
                    </div>
                </div>
            </div>
        </div>
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>State</th>
                    <th>Latest Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stat: ${stats}" class="my-table">
                    <td th:text="${stat.country}"></td>
                    <td th:text="${stat.state}"></td>
                    <td th:text="${stat.latestTotal}"></td>
                </tr>
            </tbody>
        </table>

        <!--<div class="row z-depth-1 my-table" th:each="stat: ${stats}">
            <div class="col s3" th:text="${stat.country}"></div>
            <div class="col s6" th:text="${stat.state}"></div>
            <div class="col s3" th:text="${stat.latestTotal}"></div>
        </div>-->

    </div>
</body>

</html>