<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19 tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link rel="stylesheet" type="text/css" href="../static/css/index.css">-->
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    <!-- <link rel = "stylesheet" type = "text/css" href = "myStyle.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body align="center">

    <div class="container">
        <h1>Covid-19 tracker location wise</h1>

        <div class="row" align="center">
            <div class="col s12 m8 offset-m2">
                <div class="card grey darken-4">
                    <div class="card-content white-text">
                        <h4>Total number of reported cases</h4>
                        <span class="card-title" th:text="${totalReportedCases}"></span>
                    </div>
                </div>
            </div>
        </div>
        <table class="highlight centered outer-border">
            <thead>
                <tr class="outer-border">
                    <th class="outer-border">Country</th>
                    <th class="outer-border">State</th>
                    <th class="outer-border">Latest Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stat: ${stats}" class="my-table">
                    <td th:text="${stat.country}" class="outer-border"></td>
                    <td th:text="${stat.state}" class="outer-border"></td>
                    <td th:text="${stat.latestTotalString}" class="outer-border"></td>
                </tr>
            </tbody>
        </table>

        <!--<div class="row z-depth-1 my-table" th:each="stat: ${stats}">
            <div class="col s3" th:text="${stat.country}"></div>
            <div class="col s6" th:text="${stat.state}"></div>
            <div class="col s3" th:text="${stat.latestTotal}"></div>
        </div>-->

    </div>
</body>

</html>